body {
  padding: 0px;
  margin: 0px;
}

.carousel-item img {
  height: 641px;
}
.carousel-item p {
  font-size: 20px;
}

#images-courasel {
  position: relative;
}

.title-container h2 {
  font-size: 30px;
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid black;
}

#category .parent-img {
  position: relative;
}
#category .parent-img:hover .img {
  opacity: 0.3;
}
#category .img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#category .card-body {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#category .parent-img:hover .card-body {
  opacity: 1;
}
.image-men {
  height: 450px;
}

.album-category {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.album {
  display: flex;
  width: 300%;
}
.card {
  margin: 20px;
}
.lihat-selengkapnya {
  text-align: right;
  margin: 20px 0px;
}
.brand-logo {
  text-align: center;
  margin: 20px;
}
.icon-sosmed {
  padding: 0px 20px;
}
