body {
  padding: 0px;
  margin: 0px;
}

.brand {
  margin-top: 70px;
}

.content-selengkapnya {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
}

.brand-logo {
  text-align: center;
  margin: 20px;
}
.icon-sosmed {
  padding: 0px 20px;
}
